*{
    font-family: Arial, Helvetica, sans-serif;
}

.principal{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center ;
    text-align: center;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(68, 186, 101);
}

input{
    width: 250px;
    height: 25px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

button{
    width: 253px;
    height: 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(17, 230, 52);
    transition: 0.5s;
}

button:hover{
    background-color: rgb(84, 255, 112);
}

body{
    overflow-x: hidden;
}

.menu-topo{
    width: 101vw;
    height: 50px;
    margin-left: -10px;
    margin-top: -10px;
    background-color: rgb(83, 83, 83);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.menu-topo > a{
    color: white;
    text-decoration: none;
}